@font-face {
  font-family: 'DAYPBL__';
  src: url(DAYPBL__.ttf);
}

body {
	background: rgb(36,0,34);
	background: linear-gradient(to right, #18a157, #0878a9, #854659);
}

h1 {
	font-family: 'DAYPBL__';
	text-shadow: 2px 2px 8px #000;
}

.loading {  
  background: linear-gradient(to right, #9eebcf 20%, #a463f2 40%, #a463f2 60%, #9eebcf 80%);
  background-size: 200% auto;
  text-shadow: none;
  /*color: #000;*/
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 2s linear infinite;
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
